
img.top {
    vertical-align: text-top;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    
}

a {
	float: center;
    width: 6em;
    text-decoration: none;
    //padding: 0.1em 0.6em;
    
	}
	
li a {
	padding: 0.1em 0.6em;
}

.menu {
	//padding-right: 15px;
	//padding-left: 15px;
    display: inline;
}


.menu a:hover {background-color: #FFFF99;}

.menu.current a{
	background-color: #FFFF99;
	color:#00A300;
}

#nav {
    //line-height: 2.5em;
    background-color:#FFFF99;
    float: left;
}

#section {
    width:650px;
    //float:left;
	display: inline-block;
    padding:10px;	 	 
}

#section1 {
    
	margin:-10px 20px 20px 20px;
	
}

body{
	background-color:#bcaaa4;
	width: 750px;
	margin-left:auto;
	margin-right:auto;
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
	line-height: 26.4px;
}

.container{
	background-color:#dedede;
}

.head-nav{
	background-color:#ffffff;
	//color:#333333;
	padding:10px
}

.content{
	padding:10px;
}

.active{
	background: #cccccc;
	margin-left:-45px;
//	text-align:center;
}

.active a{

	margin-left:45px;
	
}

.recipe-image{
	height:50%;
	float:left;
	margin: 20px;
}

.restaurant-image{
	width:65%;
	float:right;
	margin: 20px;
}

#map{
	width:98%;
	height: 250px;
	//margin-bottom:40px;
	padding-bottom:40px;
}

.footer{
	background-color:#dddddd;
	text-align:center;
}

.desc{
	width:100%;
	display: inline-block;
}

.breadcrum{
	display:inline-flex;
}

.breadcrum li{
	margin-right:10px;
}

.calorie{
	width:550px;
	margin-left:auto;
	margin-right: auto;
	padding-bottom:40px;
	display:none;
}

.calorie td{
	text-align:center;
	padding:5px;
}
.calorie th{
	background-color:#ff3654;
	color:#ffffff;
}

.veg-name{
	text-align:left;
}

.calorie tr:nth-child(even) {background: #CCC}
.calorie tr:nth-child(odd) {background: #FFF}

//Restaurant page thumbnails
#design-cast {
position: relative;
overflow: hidden;
}

#design-cast{
	margin-top:33px;
}
.member {
    float:left;
    width:31%;
    margin:1% 1% 45px 1%;
	overflow:hidden;
}

.recipes-thumb .member {
    float:left;
    width:23%;
    margin:1% 1% 45px 1%;
	overflow:hidden;
}
.name {
	background-color:#ffffff;
    position:relative;
    bottom:0px;
	padding:5px 0px 5px 10px;
}
.member img {
    width: 100%;
    display: block;
}

.member img:hover{
	 transition: all .5s ease-in-out; 
	-webkit-transform: rotate(10deg) scale(1.5); /* Chrome 4+, Op 15+, Saf 3.1, iOS Saf 3.2+ */
       -moz-transform: rotate(10deg) scale(1.5); /* Fx 3.5-15 */
        -ms-transform: rotate(10deg) scale(1.5); /* IE 9 */
         -o-transform: rotate(10deg) scale(1.5); /* Op 10.5-12 */
            transform: rotate(10deg) scale(1.5); /* Fx 16+, IE 10+ */
    //margin: 10% 0 0 20%;
}


//Index page slider
* {
    margin: 0;
    padding: 0;
}

h1 { color: white }

#slideshow-wrap {
    display: block;
    height: 320px;
    min-width: 260px;
    max-width: 640px;
    margin: auto;
    position: relative;
}

#slideshow-inner {
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    overflow: hidden;
    position: relative;
}

#slideshow-inner>ul {
    list-style: none;
    height: 100%;
    width: 500%;
    overflow: hidden;
    position: relative;
    left: 0px;
    -webkit-transition: left .8s cubic-bezier(0.29, 0.52, 0.34, 1.0);
    -moz-transition: left .8s cubic-bezier(0.29, 0.52, 0.34, 1.0);
    -o-transition: left .8s cubic-bezier(0.29, 0.52, 0.34, 1.0);
    transition: left .8s cubic-bezier(0.29, 0.52, 0.34, 1.0);
	margin-top: 0px;
	margin-left:-40px;
}

#slideshow-inner>ul>li {
    width: 20%;
    height: 320px;
    float: left;
    position: relative;
	box-shadow: 0px 0px 3px rgba(0,0,0,.8);
}

#slideshow-inner>ul>li>img {
    margin: auto;
    height: 100%;
}

#slideshow-wrap input[type=radio] {
    position: absolute;
    left: 50%;
    bottom: 15px;
    z-index: 100;
    visibility: hidden;
}

#slideshow-wrap label:not(.arrows):not(.show-description-label) {
    position: absolute;
    left: 50%;
    bottom: 10px;
    z-index: 100;
    width: 12px;
    height: 12px;
    background-color: rgba(200,200,200,1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
	opacity: 0.5;
}

#slideshow-wrap label:not(.arrows):active { bottom: 9px }


#slideshow-controls label:not(.arrows):not(.show-description-label) {
	opacity: 0.2;
	transition: opacity .2s;
}

#slideshow-controls label:not(.arrows):not(.show-description-label):hover { opacity: 0.7 }

#slideshow-wrap input[type=radio]#button-1:checked~label[for=button-1] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-2:checked~label[for=button-2] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-3:checked~label[for=button-3] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-4:checked~label[for=button-4] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-5:checked~label[for=button-5] { background-color: rgba(100,100,100,1) }

#slideshow-wrap label[for=button-1] { margin-left: -36px }

#slideshow-wrap label[for=button-2] { margin-left: -18px }

#slideshow-wrap label[for=button-4] { margin-left: 18px }

#slideshow-wrap label[for=button-5] { margin-left: 36px }

#slideshow-wrap input[type=radio]#button-1:checked~#slideshow-inner>ul { left: 0 }

#slideshow-wrap input[type=radio]#button-2:checked~#slideshow-inner>ul { left: -100% }

#slideshow-wrap input[type=radio]#button-3:checked~#slideshow-inner>ul { left: -200% }

#slideshow-wrap input[type=radio]#button-4:checked~#slideshow-inner>ul { left: -300% }

#slideshow-wrap input[type=radio]#button-5:checked~#slideshow-inner>ul { left: -400% }

label.arrows {
    font-size: 25px;
    color: rgb(255,255,240);
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: none;
    opacity: 0.5;
    cursor: pointer;
    z-index: 1000;
    background-color: transparent;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    text-shadow: 0px 0px 3px rgba(0,0,0,.8);
}

label.arrows:hover { opacity: 1 }

label.arrows:active { margin-top: -23px }

input[type=radio]#button-1:checked~.arrows#arrow-2, input[type=radio]#button-2:checked~.arrows#arrow-3, input[type=radio]#button-3:checked~.arrows#arrow-4, input[type=radio]#button-4:checked~.arrows#arrow-5 {
    right: 20px;
    display: block;
}

input[type=radio]#button-2:checked~.arrows#arrow-1, input[type=radio]#button-3:checked~.arrows#arrow-2, input[type=radio]#button-4:checked~.arrows#arrow-3, input[type=radio]#button-5:checked~.arrows#arrow-4 {
    left: 20px;
    display: block;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

input[type=radio]#button-2:checked~.arrows#arrow-1 { left: 56px }

input[type=radio]#button-3:checked~.arrows#arrow-2 { left: 38px }

input[type=radio]#button-5:checked~.arrows#arrow-4 { left: 2px }

.description {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 260px;
    z-index: 1000;
	margin-left:50px;
}

.description input { visibility: hidden }

.description label {
    background-color: rgba(0,0,0,1);
    position: relative;
    left: 0px;
    top: 00px;
    width: 100%;
    //height: 27px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    opacity: 0.7;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    z-index: 5;
    color: #fff;
	
}

#slideshow-inner>ul>li:hover .description label { opacity: 0.7 }

.description input[type=checkbox]:checked~label { opacity: 0.7 }


.rectangle {
   background: #e5592e;
   height: 21px;
   position: relative;
   -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   z-index: 500; /* the stack order: foreground */
   margin: 1.5em 0;
   color:#ffffff;
}

.l-triangle-top {
   border-color: #d9542b transparent transparent;
   border-style:solid;
   border-width:30px;
   height:0px;
   width:0px;
   position: relative;
   float: left;
   top: 0px;
   left: -40px;
}
 
.l-triangle-bottom {
   border-color: transparent transparent #d9542b;
   border-style:solid;
   border-width:30px;
   height:0px;
   width:0px;
   position: relative;
   float: left;
   top: -19px;
   left: -100px;
}

.r-triangle-top {
   border-color: #d9542b transparent transparent;
   border-style:solid;
   border-width:30px;
   height:0px;
   width:0px;
   position: relative;
   float: right;
   right: -38px;
   top: -65px;
}
 
.r-triangle-bottom {
   border-color: transparent transparent #d9542b;
   border-style:solid;
   border-width:30px;
   height:0px;
   width:0px;
   position: relative;
   float: right;
   top: -84px;
   right: -100px;ov
}